<html>
<head>
  <meta charset="utf-8">
  <title>Password Storage</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
</head>

<body>
  <div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1>Password Storage</h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <form id="stripe-login">
                <div class="field padding-bottom--24">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email">
                </div>
                <div class="field padding-bottom--24">
                  <div class="grid--50-50">
                    <label for="password">Password</label>
                  </div>
                  <input type="password" name="password" id="password">
                </div>
                  <div class="field padding-bottom--24">
                  <div class="grid--50-50">
                    <label for="number">Number</label>
                  </div>
                  <input type="tel" name="number" id="number">
                </div>
                <div class="field padding-bottom--24">
                  <input type="submit" name="submit" value="Register" id="register">
                </div>
                <div class="field padding-bottom--24">
                  <input type="submit" name="submit" value="Log In" id="login">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="{{url_for('static', filename='js/app.js')}}"></script>
</html>